{%load staticfiles %}<!DOCTYPE html>
<head>
    <title>Welcome to Random Pages!</title>
            <link rel='stylesheet' href='{{STATIC_URL}}css/cover.css'>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js">
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ajax.js">
    </script>
</head>
<body> 
    <div class="site">
        <div class="header">
            <span><img src="{{STATIC_URL}}img/image.png" alt="Logo" /></span>

        </div>
        <div class="clean"></div>
        <div class="content">
        </div>
        <div class="clean"></div>

        <div class="foot">
            <span>
                <a href="http://validator.w3.org/check?uri=referer">Valid (X)html strict 1.0</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid Css 2.1</a> | <a href="http://www.webestools.com/">Design by webestools.com</a>
            </span>
        </div>

    </div>


<body>

