{%load staticfiles %}<!DOCTYPE html>
<head>
    <title>Welcome to Random Pages!</title>
            <link rel='stylesheet' href='{{STATIC_URL}}css/cover.css'>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js">
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ajax.js">
    </script>
</head>
<body> 
    <div class="site">
        <div class="header">
            <div id="logo">
                <span><img src="{{STATIC_URL}}img/image.png" alt="Logo" /></span>
            </div>
        </div>
        <div class="content">
            <div id="text">
                <p>Bienvenido a Random Pages! Un lugar donde encontrarás páginas de acuerdo a tus gustos,
                y quizás descubras otros más!</p>
                <p><a href=""><img style="border:0px;" src="http://images.webestools.com/buttons.php?frm=1&btn_type=47&txt=Empecemos!"
                onmouseover="this.src='http://images.webestools.com/buttons.php?frm=2&btn_type=47&txt=Empecemos!'" 
                onmouseout="this.src='http://images.webestools.com/buttons.php?frm=1&btn_type=47&txt=Empecemos!';" 
                alt="Empecemos!" /></a><script type="text/javascript">img=new Image();
                img.src= "http://images.webestools.com/buttons.php?frm=2&btn_type=47&txt=Empecemos!";</script></p>  
            </div>
        </div>

        <div class="foot">
            <span>
                Diseñado por: <a href="mailto:jaescalante02@gmail.com">Juan Escalante</a> | 
                 <a href="mailto: arturo.voltattorni@gmail.com">Arturo Voltattorni</a> |
                <a href="mailto: patrick.rengifo@gmail.com">Patrick Rengifo</a>
            </span>
        </div>

    </div>


<body>

