{%load staticfiles %}<!DOCTYPE html>
<head>
    <title>Random Pages</title>
            <link rel='stylesheet' href='{{STATIC_URL}}css/style.css'>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js">
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ajax.js">
    </script>
</head>
<body>
<div id="toolbar">
    <!--
    <div id="toolbar-title">
       <img id="logo" src='{{STATIC_URL}}img/image.png'/> 
    </div>
    -->
	    <input type="text" id="search" value="holis">
            <input type="submit" value="twitter" id="search-twitter">
            <input type="submit" value="Discover" id="toolbar-discover"> Discover </p>

</div>
<div id="tweet1" class="tweet" > hola1
</div>

<div id="tweet2" class="tweet" > hola1
</div>

<div id="tweet3" class="tweet" > hola1
</div>

</div>
<div id="tweet4" class="tweet" > hola1
</div>

<div id="tweet5" class="tweet" > hola1
</div>

<div id="tweet6" class="tweet" > hola1
</div>

</div>
<div id="tweet7" class="tweet" > hola1
</div>


<div id="random-page">
    <iframe id="tb-stumble-frame" border="0" frameborder="0" hspace="0" 
    vspace="0" marginheight="0" marginwidth="0" 
    src="http://www.usb.ve"></iframe>
</div>

<body>

