{%load staticfiles %}<!DOCTYPE html>
<head>
    <title>The Chameleon Page</title>
    <link rel='stylesheet' href='{{STATIC_URL}}css/style.css'>
    <link rel="icon" type="image/png"
     href="{{STATIC_URL}}img/chameleon.png" />
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js">
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ajax.js">
    </script>
</head>
<body>
<div id="toolbar">
    
    <img id="logo" src='{{STATIC_URL}}img/chameleon.png'/>
    <img id="name" src='{{STATIC_URL}}img/logo.png' />
    
    <input type="text" id="search" value="What's new with?">
    <input type="submit" value="Search in Twitter" id="search-twitter">
    <input type="submit" value="Discover" id="toolbar-discover"> 
    <input type="submit" value="Like" id="toolbar-like"> 
    <input type="submit" value="Dislike" id="toolbar-dislike"> 
</div>

<div id="tweets">
    <table border=0 >
        <tr>
        <td id="tweet1" class="tweet" > hola1 </td>
        </tr>
        <tr>
        <td id="tweet2" class="tweet" > hola1 </td>
        </tr>
        <tr>
        <td id="tweet3" class="tweet" > hola1 </td>
        </tr>
        <tr>
        <td id="tweet4" class="tweet" > hola1 </td>
        </tr>
        <tr>
        <td id="tweet5" class="tweet" > hola1 </td>
        </tr>
        <tr>
        <td id="tweet6" class="tweet" > hola1 </td>
        </tr>
        <tr>
        <td id="tweet7" class="tweet" > hola1 </td>
        </tr>
    </table>
</div>

<div id="random-page">
    <iframe id="tb-stumble-frame" border="0" frameborder="0" hspace="0" 
    vspace="0" marginheight="0" marginwidth="0" 
    src="http://www.usb.ve"></iframe>
</div>

<body>

